@import '../../../assets/scss/variables';

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & h1 {
    font-size: 72px;
  }

  & button.btn-warning {
    background-color: $wabi-test-yellow;
    border: none;
  }
}
